@import "../../globalStyles/globalStyles.scss";
.containercard {
  width: 260px;
  border-radius: 40px 40px 0px 0px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $black;
  @media screen and (max-width: 700px) {
    width: 200px;
  }
  .containerImg {
    width: 240px;
    height: 200px;
    object-fit: contain;
    position: relative;
    margin-bottom: -40px;
    @media screen and (max-width: 700px) {
      width: 180px;
      position: static;
      margin-bottom: -5px;
    }
    @media screen and (max-width: 450px) {
      height: 150px;
    }
  }
  .containerImg:hover {
    animation: pokemon 0.5s linear;
  }
  .containerContent {
    background-color: $white;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    .containerTitle {
      text-align: center;
      font-size: 24px;
      font-weight: 800;
      padding-top: 50px;
      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
    }
    .containerTypes {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      @media screen and (max-width: 700px) {
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
      }
      .typeTitle {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 450px) {
          font-size: 18px;
        }
      }
      .subContainerTypes {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 700px) {
          justify-content: center;
        }
        .containerSubtitle {
          padding-right: 16px;
          padding-left: 16px;
          color: $black;
        }
      }
    }
  }
  .footerContainer {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    @media screen and (max-width: 700px) {
      display: none;
    }

    .footerImgSize {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}

.containercardType {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .subContainerType {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .contentContainer {
      display: flex;
      .leftSide {
        display: flex;
        justify-content: center;
        flex: 1;
        .imgPokeType {
          width: 120px;
          height: 130px;
          border-radius: 50%;
          margin-right: 40px;
          @media screen and (max-width: 700px) {
            width: 100px;
            height: 100px;
            margin: 0px;
          }
        }
      }
    }

    .iconColor {
      width: 20px;
      height: 54px;
      margin-right: 20px;
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    .rightSide {
      display: flex;
      flex: 1;
      color: $white;
      margin-top: 20px;
      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
      }
      .title {
        padding-bottom: 5px;
      }
      .wrapTypeContainer {
        flex-wrap: wrap;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
}

@keyframes pokemon {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
